{% extends "base.html" %}

{% block title %}
Analytics
{% endblock %}

{% block content %}

<h1>📈 Média de Consumo</h1>

<div class="card">

    <input type="number" id="clienteId" placeholder="Digite o ID do Cliente">

    <button onclick="buscarMedia()">
        Buscar
    </button>

    <h2 id="media"></h2>
    <h3 id="ultimo"></h3>

    <canvas id="grafico"></canvas>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

    let chart;

    function buscarMedia() {

        const id = document.getElementById("clienteId").value;

        fetch(`/api/v1/analytics/media-consumo/?cliente_id=${id}`)
            .then(res => res.json())
            .then(data => {

                document.getElementById("media").innerText =
                    "Média: " + data.media + " kWh";

                document.getElementById("ultimo").innerText =
                    "Último Consumo: " + data.ultimo_consumo + " kWh";

                if (chart) chart.destroy();

                const ctx = document.getElementById("grafico");

                chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ["Média", "Último"],
                        datasets: [{
                            label: "Consumo (kWh)",
                            data: [data.media, data.ultimo_consumo]
                        }]
                    }
                })

            })

    }

</script>

{% endblock %}