{% extends "base.html" %}
{% load static %}

{% block title %}
Clientes
{% endblock %}

{% block content %}

<h1>👥 Clientes</h1>

<div class="card">

    <h2>Cadastrar Cliente</h2>

    <form id="clienteForm">
        <input type="text" id="nome" placeholder="Nome" required>
        <input type="text" id="documento" placeholder="Documento" required>

        <button type="submit">
            Cadastrar
        </button>

    </form>

</div>

<div class="card">

    <h3>Buscar Cliente</h3>

    <input type="text" id="buscarCliente" placeholder="Buscar cliente pelo nome">

    <button onclick="buscarClientes()">
        Buscar
    </button>

</div>

<div class="card">

    <h3>Lista de Clientes</h3>

    <div id="clientes-container"></div>

</div>

<script src="{% static 'js/clientes.js' %}"></script>

{% endblock %}