{% extends "base.html" %}

{% block title %}
Consumo
{% endblock %}

{% block content %}

<h1>⚡ Registrar Consumo</h1>

{% if erro %}
<p style="color:red">{{ erro }}</p>
{% endif %}

<div class="card">

    <form method="POST">

        {% csrf_token %}

        <label>Cliente</label>

        <select name="cliente_id" required>

            <option value="">Selecionar cliente</option>

            {% for cliente in clientes %}
            <option value="{{ cliente.id }}">
                {{ cliente.nome }}
            </option>
            {% endfor %}

        </select>

        <label>Mês</label>

        <input type="month" name="mes" required>

        <label>Consumo (kWh)</label>

        <input type="number" step="0.01" name="consumo_kwh" placeholder="Consumo kWh" required>

        <button type="submit">
            Registrar
        </button>

    </form>

</div>

{% endblock %}