{% extends "base.html" %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="dashboard-container">

    <h1>📊 Dashboard Energy Analytics</h1>

    <div class="container">

        <div class="card">
            <h2>Total Clientes</h2>
            <div class="value" id="totalClientes">...</div>
        </div>

        <div class="card">
            <h2>Consumo Total</h2>
            <div class="value" id="totalConsumo">...</div>
        </div>

        <div class="card">
            <h2>Média Geral</h2>
            <div class="value" id="mediaGeral">...</div>
        </div>

        <div class="card">
            <h2>Crescimento Último Mês</h2>
            <div class="value" id="crescimentoPercentual">...</div>
        </div>

    </div>


    <div class="acoes-dashboard">

        <a href="/top-consumidores/" class="btn">
            Ver Top Consumidores
        </a>

        <a href="/anomalias/" class="btn btn-alerta">
            🚨 Ver Anomalias
        </a>

    </div>


    <div class="graficos-container">

        <div class="grafico-box">
            <h2>Consumo Total por Cliente</h2>

            <div class="grafico-wrapper">
                <canvas id="graficoClientes"></canvas>
            </div>
        </div>


        <div class="grafico-box">

            <h2>Consumo por Cliente</h2>

            <select id="periodoSelect">
                <option value="3">Últimos 3 meses</option>
                <option value="6">Últimos 6 meses</option>
                <option value="12">Últimos 12 meses</option>
            </select>

            <select id="clienteSelect">
                <option value="geral">Todos clientes</option>
            </select>

            <div class="grafico-wrapper">
                <canvas id="graficoConsumo"></canvas>
            </div>

        </div>

    </div>

</div> <!-- fecha dashboard-container -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock %}